header
{
	background-image: url(images/darkmetal.jpg);
	height: 25%;
	max-height: 200px;
	min-height: 120px;
	width: 100%;
	min-width: 500px;
	margin : none;
}

#cadrelogo
{
	background-color: rgba(150,150,150,0.3);
	height: 150%;
	width : 13%;
}


#logo
{

	position : relative;
	top: 15px;
	left: 13%;
	display: inline-block;
}

.login
{
	color: white;
}

.form
{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 20px;
	padding-top: 10px;
}
.sign_in a
{
	text-decoration: underline;
	color : white;
}

a
{
	text-decoration: none;
}

nav
{
	font-family: calibri;
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
	position : absolute;
	top : 18%;
	width: 100%;
	min-width: 700px;
}

#menu ul
{
 	 margin:0;
	 padding:0;
	 list-style-type:none;
	 text-align:center;
	 float: right;
}
	 
#menu li 
{
	 display: inline-block;
	 margin:0;
	 padding:15px;
}
#menu li a 
{
	text-decoration:none;
	padding: 5px 5px 1px 5px;
}

#menu ul ul 
{
	 display:none;

}

#menu ul li:hover ul
{
	 display:block;
 }

#menu li:hover ul li 
{
	 display:block;
	 text-align: left;
	 background-color: rgba(100,100,100,0.5);

}

#menu li ul li :hover
{
	 color :black;
}

#menu li ul 
{
	 position:absolute;
}

ul.menu1 li
{
	color : black;
	background-color: none;
}

#compte a
{
	font-size: 0.75em;
	font-family: Black Ops One;
	color : #69D15D;
}

#artistes a
{
	font-size: 0.75em;
	font-family: Black Ops One;
	color : #D4D451;
}
#salles a
{
	font-size: 0.75em;
	font-family: Black Ops One;
	color : #D42626;
}
#concerts a
{
	font-size: 0.75em;
	font-family: Black Ops One;
	color : #318CE7;
}
#forum a
{
	font-size: 0.75em;
	font-family: Black Ops One;
	color : #CB8932;
}

#compte a:hover
{

	background-color: #69D15D;
	color : black;
}
#menu li ul li a:hover
{
	background-color: transparent;
}

#artistes a:hover
{
	background-color: #D4D451;
	color : black;
}

#salles a:hover
{
	background-color: #D42626;
	color : black;
}

#concerts a:hover
{
	background-color: #318CE7;
	color : black;
}

#forum a:hover
{
	background-color: #ED841B;
	color : black;
}

nav ul li ul li a:hover
{
	background-color: none;
}


#compte .menu1 li:hover
{
	background-color:#69D15D;
}

#compte .menu1 li:hover a
{
	color: black;
}
#artistes .menu2 li:hover a
{
	color: black;
}
#salles .menu3 li:hover a
{
	color: black;
}
#concerts .menu3 li:hover a
{
	color: black;
}

#artistes .menu2 li:hover
{
	background-color: #D4D451;
}
#salles .menu3 li:hover
{
	background-color: #D42626;
}
#concerts .menu4 li:hover
{
	background-color: #318CE7;
}



.TIT
{
	position: relative;
	font-family: Codystar;
	font-weight: bold;
	font-size: 1em;
	top: 14px;
	left: 15px;
	color : #0505A3;

}

.slogan
{
	position: relative;
	font-family: Codystar;
	font-size: 3em;
	top: -175px;
	left: 200px;
	padding: 0;
	margin: 0;
	color : #0505A3;
}

footer
{
	background-color: #333333;
	height: 10%;
	min-height: 100px;
	width: 100%;
	text-align: center;
}

#like
{

	font-family: calibri;
	font-size: 130%;
	font-weight: bold;
	color : white;

}

#help
{
	display: inline-block;
}

#help li
{
	font-family: calibri;
	font-weight: bold;
	color : white;
	list-style-type:none;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-block;
	padding: 10px;
}

footer a 
{
	color : white;
	text-decoration: underline;
	margin-bottom: 1%;
	margin-top: 1%;
}

#pseudo
{
	font-family: calibri;
	font-size: 1.1em;
	position: absolute;
	top: 1%;
	right: 1%;
	padding-top: 5px;
	list-style: none;
	display: inline-block;
}
#pseudo li
{
		display: inline-block;
		padding : 10px;
}

#pseudo a
{
	color : white;
	text-decoration: underline;
}

@media screen and (max-width: 1000px)
{
	nav
	{
		font-size: 1em;
	}
	#menu li 
	{
		padding : 5px;
	}
	#menu li ul li 
	{
		padding: 10px;
	}

	.slogan
	{
		font-size: 0em;
	}

	#menu ul 
	{
		padding: 0;
	}
}

nav {
	z-index: 60;
}
