body
{
	height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	background-color: #DAD9BA;
}

html
{
	height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

#bienvenue
{
	font-family: calibri;
	font-size: 1.3em;
	margin: 2%;
	text-align: center;
}

#formulaire
{
	font-family: 'Open Sans' , sans-serif;
	font-weight: bold;
	margin-left: 20%;
	margin-right: 20%;
}

.textbox
{
	box-shadow: 0 0 9px #777 inset ;
	border-radius: 3px;
	border: solid 1px #999;
}

form ul li 
{
	border-bottom: 1px solid black;
	padding-bottom: 2%;
	margin-bottom: 2%;
}

.form2 ul
{
	list-style-type: none;
}

.envoyer
{
	font-size: 2em;
	margin-top: 3.2%;
}

form ul li div span {
	width: 25%;
	display: inline-block;
}