/*<?php header("Content-Type: text/css; charset=UTF-8"); ?>
<?php include('RandColor.php'); ?>*/

body
{
	height: 100%;
	width: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


div 
{
	margin: 0;
}



#news
{
	background-image: url(images/concert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 80%;
	min-height: 550px;
	margin-top: -1.5%;
}

#liste_news 
{
	background-color: rgba(150,200,170,0.6);
	width: 30%;
	min-width: 250px;
	height: 100%;	
	//min-height: 50px;
	font-family: 'Open Sans' , sans-serif;

}


ul 
{
	list-style: none;
}

#liste_news a 
{
	text-decoration: none;
	color : black;
}

#liste_news li 
{
	padding: 15px;
	font-size: 1.4em;
	font-weight: bold;
	height: 100%;
}

@media screen and (max-width: 900px)
{
	#liste_news li
	{
		font-size: 1em;
		padding: 10px;
	}
}

#liste_news li a:hover
{
	color : white;
}

#notifs
{
	width: 100%;
	font-family: calibri;
	text-align: left;
}

#proche_vous
{
	background-color: #FF9491;
}

#proche_vous #titre1
{
	text-align: center;
}

#proche_vous ul 
{
	position: relative;
	padding-left : 2%;
}


#titre1, #titre2, #titre3
{
	font-size: 3.5em;
	font-weight: bold;
}

#proche_vous a, #groupe a, #salle a
{
	text-decoration: none;
	color : black;
}

#proche_vous li , #groupe li, #salle li
{
	padding: 10px;
	font-size: 2em;
}

#proche_vous li a:hover , #groupe li a:hover, #salle li a:hover
{
	font-weight: bold;
}

#groupe
{
	background-color: #98E3A2;
}

#salle
{
	background-color: #8A94C4;
}

#proche_vous, #groupe, #salle
{
	//padding-top: 60px;
	padding-bottom: 20px;
	border-bottom: 2px black;

}

.fleche
{
	background-image: url(images/fleche.png);
	position: relative;
	height: 50%;
	left: 50%;
	margin-left: -32px;
	width: 64px;
}

#proche_vous .image
{
	position: absolute;
	right: 15%;
	top : 15%;
	height: 80%;
	width: 15%;
}

.proche1 img.image, .proche2 img.image, .proche3 img.image, .proche4 img.image, .proche5 img.image
{
	display: none;
}

.proche1:hover img.image
{
	display: inline-block;
}
.proche2:hover img.image
{
	display: inline-block;
}
.proche3:hover img.image
{
	display: inline-block;
}
.proche4:hover img.image
{
	display: inline-block;
}
.proche5:hover img.image
{
	display: inline-block;
}

#inscristoi
{
	text-align: center;
	font-family: calibri;
	font-size: 1.5em;
	color :black;
	width: 100%;
	height: 7%;
	background-color: #EA9B44;
	/*background-color:<?php print $coul_bg=coul_aleat(); ?>;*/
	
}
#pub
{
	text-align: center;
	width: 100%;
	font-family: calibri;
	font-weight: bold;

}

#pub ul li 
{
	list-style: none;
	display: block;
}

#pub ul 
{
	margin-bottom: 50px;
	padding: 0;
}

.privileges>li{
	vertical-align: top;
}

.typeinscrits>li{
	vertical-align: top;
}

#pub ul li ul li 
{
	display: inline-block;
}

#pub ul li ul li ul li 
{
	display: block;
	width: 350px;
	padding-bottom: 5%;
}


.formulaire
{
	color : red;
	font-size: 1.6em;
}

.formulaire a 
{
	text-decoration: underline;
}

#qui, #quoi
{
	font-size: 1.3em;
	border-bottom: 2px solid black;
	margin-right: 10%;
	margin-left: 10%;
}




