body
{
	width: 100%
}



#news
{
	background-image: url(concert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
	margin-top: -16px;
}

#liste_news 
{
	background-color: rgba(150,200,170,0.4);
	width: 30%;
	height: 100%;	
}

ul 
{
	list-style: none;
}

#liste_news a 
{
	text-decoration: none;
	color : black;
}

#liste_news li 
{
	padding: 15px;
	font-family: arial;
	font-size: 1.4em;
	font-weight: bold;
}

#liste_news li a:hover
{
	color : white;
}

#notifs
{
	width: 100%;
	font-family: calibri;
	text-align: center;
}

#proche_vous
{
	background-color: rgb(200,60,60);
}

#titre1, #titre2, #titre3
{
	font-size: 3.5em;
	font-weight: bold;
}

#proche_vous a, #groupe a, #salle a
{
	text-decoration: none;
	color : black;
}

#proche_vous li , #groupe li, #salle li
{
	padding: 10px;
	font-size: 2em;
}

#proche_vous li a:hover , #groupe li a:hover, #salle li a:hover
{
	font-weight: bold;
}

#groupe
{
	background-color: rgb(60,200,60);
}

#salle
{
	background-color: rgb(60,60,200);
}

#proche_vous, #groupe, #salle
{
	margin-bottom: -16px;
	border-bottom: 20px black;
	padding-top: 60px;
}