html, body
{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
}

#photoartiste
{
	position: relative;
	background-image: url(images/imaginedragons.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;

}	

#nomartiste
{
	position: absolute;
	bottom : 0; 
	height :50px;
	font-size: 3em;
	color : #BEBEBE;
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%);
	width: 100%;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 5px;
}

#menudyna
{
	font-size: 2em;
	background-color: #F3F920;
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#menudyna ul 
{
	list-style: none;
	margin-top: -2px;
}

.onglet1:hover .contenu
{
	display: inline-block;
	z-index: 50;
}
.onglet2:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}
.onglet3:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}
.onglet4:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}
.onglet5:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}


#menudyna li 
{
	display: inline;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-right: 1px solid #616161;
	float: left;
}


#menudyna a 
{
	color : black;
}

#menudyna ul li:hover
{
	background-color: black;
	color: white;
}

.contenu
{
	background-color: #494949;
	color : white;
	height: 150px;
	display: none;
	width: 100%;
	position : absolute;
	left: 0;
}
