html, body
{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
}

#cover
{
	background-image: url(images/imageMembre.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 70%;
	width: 100%;
	


}
#membre

{
position: absolute;
	bottom : 8%; 
	height :50%;
	left: 5%;
}

