html, body
{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
			background: black;

}


#cover
{
	background: black;
	background-image: url(images/imagemembre.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 70%;
	width: 100%;
	border: 1px solid black;
	opacity : 0.5;

}

#donnees
{
	float : left;
}
#membre

{
	position: absolute;
	height : 50%;
	top : 140px ;
	left : 40%;
	font-size: 1.5em;
	font-family: 'Original Surfer', cursive;




}
#image
{
	border:  8px solid gray;
	border-radius: 300px;
    width:220px ;
    height:220px ;


}

#membre li 
{
	display: block;

}
#membre li li
{
	display: block;
	color: white;
}
#menudyna2
{
	font-size: 2em;
	background-color: #3a4cd2
;
	margin: 0;
	padding: 0;
	border: solid 1px green;
}

#menudyna2 ul 
{
	list-style: none;
}

.ongletmembre1:hover .contenu
{
	display: block;
	z-index: 50;
}
.ongletmembre2:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}
.ongletmembre3:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}
.ongletmembre4:hover div.contenu
{
	display: inline-block;
	z-index: 50;
}


#menudyna2 li 
{
	display: inline-block;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-right: 1px solid white;
}


#menudyna2 a 
{
	color : white;
}

#menudyna2 li:hover
{
	background-color: #1632B4;


}
.contenu
{
	background-color: #99C9F0;
	height : 100%;
	display: none;
	width: 100%;
	position : absolute;
	left: 0;
}
