#bloc
{
	min-width: 100%;
	margin: 0;
	padding: 0;
	background-color: #363636;
	color: #DDDDDD;
}

html
{
	height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

#bienvenue
{
	font-family: calibri;
	font-size: 1.1em;
	margin: 2%;
	text-align: center;
	width: 70%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 4%;
	font-family: 'Open Sans' , sans-serif;
}

#formulaire
{
	font-family: 'Open Sans' , sans-serif;
	margin-left: 20%;
	margin-right: 20%;
}

.textbox, .textarea
{
	box-shadow: 0 0 9px #111 inset ;
	border-radius: 5px;
	border: solid 1px #999;
}
.textarea
{
	rows : 50;
	cols : 4;
	height: 170px;
	width: 40%;
}


form ul li 
{
	border-bottom: 1px solid #868686;
	padding-bottom: 2%;
	margin-bottom: 2%;
}

.form2 ul
{
	list-style-type: none;
}

.envoyer
{
	font-size: 2em;
	margin-top: 3.2%;
	margin-right: 25%;
	margin-left: 35%;
	box-shadow: 0 0 9px #CCC inset ;
	border-radius: 3px;
	border: solid 1px #999;
	
}

form ul li div span {
	width: 40%;
	display: inline-block;
}

.erreur
{

	color : red;
	position: absolute;
	top : 320px;
	left:800px;
	font-weight: bold;
}

.condition
{
	font-style: italic;
}

.cgu
{
	color : #DDDDDD;
	text-decoration: underline;
}