header
{
	//background-image: url(../controlleurs/images/darkmetal.jpg);
	height: 100px;
	width: 100%;
	//min-width: 1000px;
	margin : none;
	//border-bottom: 3px solid grey;
}

.logg
{
	box-shadow: 0 0 9px #555 inset ;
	border-radius: 3px;
	border: solid 1px #555;
}


#cadrelogo
{
	background: -webkit-linear-gradient(left,  rgba(75,75,75,0.6) 70%,rgba(0,0,0,0) 100%);
	height: 100px;
	width : 13%;
}


.barresearch
{

	box-shadow: 0 0 900px #FFFFFF inset ; 
	border: solid 1px #999;	
	border-radius: 40px;
	height: 20px;
	padding-left: 15px;
}


.form
{
	color: #CACACA;
	font-family: 'Open Sans' , sans-serif;
}

.form .login, .form .logg, .form .sign_in
{
	margin-left: 15px;

}


.container .form
{
	//float: right;
	position : absolute;
	right: 0;
	padding-top: 2px;
	margin-right: 0.5%;
	border-bottom: 1px solid #646665;
	padding-bottom: 0px;
	//width: 100%;

}

.pseudo
{
	font-family: calibri;
	font-size: 1.1em;
	position: absolute;
	top: 0%;
	padding-top: 0px;
	list-style: none;
	display: inline-block;
	width: 100%;
}
.pseudo ul
{
	float: right;
	border-bottom: 1px solid #646665;


}
.pseudo li
{
	display: inline-block;
	padding : 10px;
}

.pseudo a
{
	color: #B9B9B9;
}

.pseudo a:hover
{
	color: white;
}

.boite
{
	box-shadow: 0 0 9px #555 inset ;
	border-radius: 3px;
	border: solid 1px #555;	
	width: 120px;
}
.boitepwd 
{
	box-shadow: 0 0 9px #555 inset ;
	border-radius: 3px;
	border: solid 1px #555;	
	width: 100px;
}

.container .form .login
{
	font-size: 0.8em;
}
.container {
	position: absolute;
	top: 0px;
	min-width: 1330px;
}
.form
{
	position: absolute;
	text-align: right;
}

.sign_in a
{
	text-decoration: underline;
	color : #CACACA;
	font-size: 0.8em;
	font-family: 'Open Sans' , sans-serif;

}

a
{
	text-decoration: none;
}

nav
{
	font-family: 'Quicksand' , sans-serif;
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
	position : absolute;
	top : 50px;
	min-width: 1349px;
}
#logo
{

	position : relative;
	top: 5px;
	left: 10%;
	display: inline-block;
	z-index: 100;
}

.slogan
{
	position: absolute;
	font-family: 'Quicksand' , sans-serif;
	font-size: 2.4em;
	top: 55px;
	left: 170px;
	padding: 0;
	margin: 0;
	color : #D7CBA2;
	min-width: 1000px;
}

#menu ul
{
 	 margin:0;
	 padding:0;
	 list-style-type:none;
	 text-align:center;
	 float: right;
}
	 
#menu li 
{
	 display: inline-block;
	 margin:0;
	 padding:15px;
}

#menu li li 
{
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}
#menu li a 
{
	text-decoration:none;
	padding: 5px 5px 8px 5px;
}

#menu ul ul 
{
	 display:none;
	 padding-top : 9px;

}

#menu ul li:hover ul
{
	 display:block;
 }

#menu li:hover ul li 
{
	 display:block;
	 text-align: left;
	 background-color: rgba(10,10,10,0.4);
	 //border-bottom: solid 1px white;
}


#menu li ul li :hover
{
	 color :black;
}

#menu li ul 
{
	 position:absolute;
}

ul.menu1 li
{
	color : black;
	background-color: none;
}

#compte a
{
	font-size: 0.75em;
	//color : #69D15D;
	color : #DBDBDB;
}

#artistes a
{
	font-size: 0.75em;
	//color : #D4D451;
	color : #DBDBDB;
}
#salles a
{
	font-size: 0.75em;
	//color : #D42626;
	color : #DBDBDB;
}
#concerts a
{
	font-size: 0.75em;
	//color : #318CE7;
	color : #DBDBDB;
}
#forum a
{
	font-size: 0.75em;
	//color : #CB8932;
	color : #DBDBDB;
}


#menu li ul li a:hover
{
	background-color: transparent;
}

#compte a:hover, #artistes a:hover, #salles a:hover, #concerts a:hover, #forum a:hover
{
	color: white;
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
}

nav ul li ul li a:hover
{
	background-color: none;
}



#compte .menu1 li:hover a, #artistes .menu2 li:hover a,#salles .menu3 li:hover a, #concerts .menu4 li:hover a
{
	color:white ;
	text-decoration: none;
}






footer
{
	//background-image: url(../controlleurs/images/darkmetal.jpg);
	height: 0px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#like
{

	font-family: calibri;
	font-size: 130%;
	font-weight: bold;
	color : #D3D3D3;

}

#help
{
	display: inline-block;
}

#help li
{
	font-family: calibri;
	font-weight: bold;
	color : white;
	list-style-type:none;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-block;
	padding: 10px;
}

footer a 
{
	color : #D3D3D3;
	text-decoration: underline;
	margin-bottom: 1%;
	margin-top: 1%;
}


nav {
	z-index: 60;
}

