.discuss
{
	width: 100%;
	background-color: #121212;
	font-family: 'Quicksand' , sans-serif;
}

.discuss h1
{
	color :#BBBBBB ;
	font-weight: bold;
	padding-left: 7%;
	padding-top: 4%;

}

.ajout
{
	margin: 0px;
	padding-left: 7%;
	padding-top: 15px;
	padding-bottom: 30px;
}

#message
{
}

#contrib
{
	color : white;
}

.fil
{
	padding-left: 7%;
	padding-bottom: 100px;
}



.post
{
	padding: 15px;
	  background-color:#444444;
	  margin: 10px;
}

.auteur
{
	font-weight: bold;
}

.contenu
{
	padding-left: 2%;
}




