#charte
{
	  text-align: right;
}

#panel
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
  background-color: #15033A;

}
#intro
{
	background-color: #97A8D0;
	border: 7px solid #787BE9;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color : black;
	text-align: center;
}
#sujet
{
	background-color: #97A8D0;
	border: 7px solid #787BE9;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color : black;
}
.soussujet
{

	color : black;
}
form ul li 
{
	border-bottom: 0.5px solid #868686;
	padding-bottom: 2%;
	margin-bottom: 2%;
}