#panel
{
	width: 100%;
	//background-color: #15033A;
	//background-color: #1F1F1F;
	background-color: #121212;
	font-family: 'Quicksand' , sans-serif;
}

#titreforumintro
{
	font-size: 40px;
}

#intro
{
	//background-color: #97A8D0;
	//background-color: #575757;
	//border: 7px solid #787BE9;
	border-bottom: 1px solid #CACACA;
	margin-right: 15%;
	margin-left: 15%;
	color : #EAEAEA;
	text-align: center;
}
.soussujet a 
{
	color : white;
}
#charte a 
{
	color : white;
	padding: 10px;
	border-radius: 20px;
	border: solid white 1px;
}
#charte
{
	margin-bottom: 20px;
	float: right;
	margin-top: 20px;
}

#charte a:hover
{
	color : white;
	padding: 10px;
	border-radius: 20px;
	border: solid #54E14D 1px;
}

#sujet h1
{
	color : white;
	font-weight: bold;

}

#sujet h2{
	border-bottom: 2px solid #53DD17;
	width: 30%;
	padding-bottom: 15px;
}

#sujet h2:hover
{
	color : white;
}
#sujet p {
	color : #6F6F6F;
	font-size: 1em;
}

#sujet
{
	//background-color: #575757;
	//border: 7px solid #787BE9;
	//border: 7px solid #CACACA;

	color : black;
}
.soussujet
{
	color : black;
}

#sujet ul li ul li a  {
	color :#BBBBBB ;
}