/*<?php header("Content-Type: text/css; charset=UTF-8"); ?>
<?php include('RandColor.php'); ?>*/

body
{
	height: 100%;
	width: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
}



#blochome
{
	background-color: white;
	font-family: 'Quicksand' , sans-serif;
}

html
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

div 
{
	margin: 0;
}



#news
{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	min-height: 300px;

}

#liste_news 
{
	background-color: rgba(150,200,170,0.6);
	width: 30%;
	min-width: 250px;
	padding-right: 4%;
	font-family: 'Quicksand' , sans-serif;
	display : none;
	
}

#buttontest a:hover #liste_news 
{

	display : block;

}

ul 
{
	list-style: none;
}

#liste_news a 
{
	text-decoration: none;
	color : black;
}

#liste_news li 
{
	padding: 15px;
	font-size: 1.2em;
	font-weight: bold;
	height: 100%;
}

@media screen and (max-width: 900px)
{
	#liste_news li
	{
		font-size: 1em;
		padding: 10px;
	}
}

#liste_news li a:hover
{
	color : white;
}

#notifs
{
	width: 100%;
	font-family: calibri;
	text-align: left;
}

#proche_vous
{
	/*background-color: #494949;*/
	background-color: #3C3C3C;
	font-family: 'Quicksand' , sans-serif;
}



#newsgroupe
{
	background-color: #0D0D0D;
}

#newssalle
{
	background-color: #494949;
}
#newsgroupe  
{
	color : #949494;
}
#proche_vous #titre1, #titre2, #titre3
{
	text-align: center;
	//border-top: 1px solid #53DD17;
	border-bottom: 1px solid #53DD17;
	margin-right: 30%;
	margin-left: 30%;
}
#newsgroupe, #newssalle
{
	padding-top: 3%;
}
#proche_vous ul 
{
	position: relative;
	padding-left : 2%;
}


#titre1, #titre2, #titre3
{
	font-size: 2em;
	color : #E1E1E1;
}

#proche_vous a, #newsgroupe a, #newssalle a
{
	text-decoration: none;
	color : #F2F2F2;
}

#proche_vous li , #newsgroupe li, #newssalle li
{
	padding: 10px;
	font-size: 1.5em;
}

#proche_vous li a:hover , #newsgroupe li a:hover, #newssalle li a:hover
{
	font-weight: bold;
}
#proche_vous
{
	color : white;
}


#proche_vous, #newsgroupe, #newssalle
{
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 2px black;

}



#proche_vous ul li img
{
	position: absolute;
	right: 15%;
	top : 7%;
	height: 100%;
	width: 17%;
	box-shadow: 0 0 12px #777 inset ;
	border-radius: 7px;
	border: solid 1px #999;
}
table.image
{
	width: 100%;
	margin-top: 20px;
}
table

#tableimg
{
	height: 320px;
}
#tableimg
{
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
}

table.image td 
{
	background-color: black;
	padding: 0;
}

table.image tr 
{
	margin-left: 10px;
	margin-bottom: 10px;
}

.invisible
{
	background-color: #171717;
	color : white;
	height: 50px;
	font-size: 1.3em;
	position : relative;
	bottom : 0;
	margin-bottom: 10px;
	vertical-align: middle;
}


#tableimg:hover
{
	opacity: 0.4;
}
#tableimg:hover .invisible
{	
	display: block;
}

#proche_vous ul li img{
	display: none;
}

#proche_vous ul li:hover img
{
	display: inline-block;
	z-index: 50;
}


#inscristoi
{
	text-align: center;
	font-family: 'Open Sans' , sans-serif;
	font-size: 1.5em;
	color :white;
	width: 100%;
	height: 7%;
	background-color: #474948;
	/*background-color:<?php print $coul_bg=coul_aleat(); ?>;*/
	
}
#pub
{
	text-align: center;
	width: 100%;
	font-family: calibri;
	font-weight: bold;

}

#pub ul li 
{
	list-style: none;
	display: block;
}

#pub ul 
{
	margin-bottom: 20px;
	padding: 0;
}

.privileges>li{
	vertical-align: top;
}

.typeinscrits>li{
	vertical-align: top;
}

#pub ul li ul li 
{
	display: inline-block;
}

#pub ul li ul li ul li 
{
	display: block;
	width: 350px;
}


.formulaire
{
	border-top: 1px solid #949494;
	color : #292929;
	font-size: 1.6em;
	margin-right: 10%;
	margin-left: 10%;
	padding-top: 40px;
	padding-bottom: 40px; 
}

.formulaire a 
{
	text-decoration: underline;
	color : black;
}

#qui, #quoi
{
	font-size: 1.3em;
	border-bottom: 1px solid #949494;
	margin-right: 10%;
	margin-left: 10%;
}
.privileges li , .typeinscrits li 
{
	margin-top: 3%;
}



.azerty {
	background-color: #0E0E0C;
	opacity: 0.5;
	padding : 20px;
	margin-top: -75px;
	color : #F0F0F0;
	font-size: 1.5em;
	font-family: 'Quicksand' , sans-serif;	

}
#caroussel img{
	width: 1350px;
	height: 540px;
}
#caroussel{

    overflow:hidden;

    width:100%;

    height:535px;

    //margin:25% auto 0 auto;

}



 

#caroussel ul{

    position:relative;

    list-style-type:none;

    margin: 0px;

    padding: 0px;

    width:9999px;


}

 

#caroussel li{

    padding:0px;

    list-style:none;

    float:left;

}

#caroussel ul li.newstexte{
	float: left;
	width: 100%;
}
#newsgroupe ul, #newssalle ul  
{
	margin-left: 25%;
	margin-right: 25%;
	//width: 50%;
	text-align: center;
}


#newsgroupe ul li img , #newssalle ul li img
{
	height: 250px;
	width: 250px;
	border-radius: 10000000px;
}

