#fenetre1
{
	color : white;
}

#tabs-1, #tabs-3, #tabs-2, #tabs-4, #tabs-5
{
background-color: #494949;

}

#tabs
{
	

		color : black;
	font-size: 2em;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)));
	//background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,70,91,1)), color-stop(51%,rgba(181,192,255,1)), color-stop(100%,rgba(60,63,79,1)));
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,247,114,1)), color-stop(16%,rgba(249,249,77,1)), color-stop(52%,rgba(252,214,0,1)), color-stop(88%,rgba(249,249,77,1)), color-stop(94%,rgba(249,249,77,1)), color-stop(94%,rgba(249,249,77,1)), color-stop(100%,rgba(255,251,150,1)));
	width : 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tabs ul li 
{
	display: inline-block;
}