#blocpage
{
	font-family: 'Quicksand' , sans-serif;
}

#listeartiste
{
	font-size: 2em;
	//background-color: #F3F920;
	background-color: #191919;
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 10px;
	background-image: url(../../controlleurs/images/listeart.jpg) ;	
}

.listelettres a
{
	color : white;	
}
.listelettres a:hover
{
	border-bottom: 3px solid #4BE218;
	padding-bottom: 5px;
	
}
.listelettres
{
	padding: 10px;
	font-size: 2em;	
	background-color: #0C0C0C;
}

.titreartistes
{
	padding : 30px;
	font-size: 2em;
	margin-top: 50px;
	color : #DDDDDD;
}

#listeartiste ul 
{
	padding-top: 30px;
	list-style: none;
	margin-top: 0;
	font-size: 0.7em;
}


#listeartiste li a
{
	display: inline;
	margin-right: 2%;
	float: left;
	padding: 10px;
	border-radius: 30px;
	border: solid #919191 1px;
	color: #919191;
}


#listeartiste ul li.critereactif a
{
	padding: 10px;
	border-radius: 30px;
	border: solid white 1px;
	color : white;	
}

#listeartiste ul li a:hover
{
	color: white;	
	padding: 10px;
	border-radius: 30px;
	border: solid #57F23C 1px;
}


#contenuliste
{
	//background-color: #464646;
	background-color: #303030;
	color : #CECECE;
	overflow: hidden;
	width: 100%;

}
#contenuliste img
{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	border-radius: 50px;
	margin-right: 6px;
}


#contenuliste div
{
	padding: 20px;	
}

#contenuliste ul.liste_artistes li
{
	padding : 5px;
	background-color: #191919;
	width: 22%;
	margin: 3px;
}
#contenuliste ul.liste_artistes li a 
{
	color : #CECECE;
}

#contenuliste ul.liste_artistes li:hover
{
	background-color: #202020;
}
#contenuliste ul.liste_artistes li:hover a
{
	color: white;
	margin-left: 10px;
}
#contenuliste ul.liste_artistes
{
	padding: 20px;
	margin-left: 10%
}

#contenuliste ul.ancres
{
	position: fixed;
	top: 15%;
	left: 1%;
	padding-left: 2%;
}

#contenuliste ul.ancres li.ancre a
{
	color: white;
}