#listeartiste
{
	font-size: 2em;
	background-color: #F3F920;
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.titreartistes
{
	padding : 30px;
	font-size: 2em;
	margin-top: 50px;
}

#listeartiste ul 
{
	padding-top: 30px;
	list-style: none;
	margin-top: 0;
}


#listeartiste li 
{
	display: inline;
	padding-left: 0.5%;
	padding-right: 0.5%;
	float: left;
}

.critereactif
{
	background-color: black;
}

#listeartiste ul li.critereactif a
{
	color: white;
}


#listeartiste a 
{
	color : black;
}

#contenuliste
{
	background-color: #494949;
	color : white;
	overflow: hidden;
	width: 100%;

}

#contenuliste div
{
		padding: 20px;	
}
#contenuliste a 
{
	color : white;

}

#contenuliste ul
{
	list-style: square;
}
