.generaldiscuss
{
	background-color: #1E1E1E;
	color : black;
	font-family: 'Quicksand' , sans-serif;
}

.retour
{
	padding-top: 10px;
	padding-left: 20px;
}

.retour a
{
	color: white;
}

.listediscuss
{
	background-color: #97A8D0;
	color : black;
}

 .discussions
{
	border-bottom: 0.5px solid #868686;
}

#titlegeneraldiscuss
{
	color: white;
	border-bottom: 3px solid #53DD17;
	width: 27%;
	padding-top: 15px;
	margin-left : 50px;	
	margin-bottom: 15px;
	font-size: 40px;
}

table
{
    border-collapse: collapse;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 200px;
    color : white;
}
td, th
{
    border-bottom: 1px solid #B0B0B0;
    text-align: center;
    padding : 10px;

}

table tr:nth-child(2n+1){
  background-color:#444444;
  color : black;
}

table tr:nth-child(2n){
  background-color:#121212;
}

table a 
{
	color: white;
}

th
{
	color : #ACACAC;
}

tr:hover
{
	opacity: 0.5;
}

tr:hover table
{
	color: white;
}



.nouveau
{
	/*background-color: #97A8D0;
	border: 7px solid #787BE9;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color : black;*/
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	text-align: center;
	font-size: 1.5em;
	color: #BCBCBC;
	padding: 20px;
}

.nouveau a
{
	color: #C8C8C8;
}

.nouveau a:hover;
{
	text-decoration: underline;
	color: white;
}