#listeSalle
{
	font-size: 2em;
	background-color: #F3F920;
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#listeSalle ul li 
{
	display: inline-block;
}

#listeSalle ul 
{
	list-style: none;
	margin-top: 0;
}



.critereSalleactif
{
	background-color: black;
}

#listeSalle ul li.critereSalleactif a
{
	color: white;
}


#listeSalle a 
{
	color : black;
}

#contenuliste
{
	background-color: #494949;
	color : white;
	overflow: hidden;
	width: 100%;

}

#contenuliste div
{
		padding: 20px;	
}
#contenuliste a 
{
	color : white;

}

#contenuliste ul
{
	list-style: square;
}
