html, body
{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
	background: black;

}


#cover
{
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	opacity : 0.5;

}

#donnees
{
	float : left;
		height : 400px;

}
#membre

{
	position: absolute;
	top : 180px ;
	left : 40%;
	font-size: 1.5em;
	font-family: 'Original Surfer', cursive;
}
#image
{
	border:  8px solid gray;
	border-radius: 300px;
    width:220px ; 
}

.bouton
{
	box-shadow: 0 0 9px #333 inset ;
	border-radius: 4px;
	border: solid 1px #555;
	font-size: 1.3em;
}

#global
{
	position: absolute;
	top : 550px;	
	width: 100%;


}

#parametres
{
	float: right;
}

#parametres li 
{
	display: inline-block;
}



#membre li 
{
	display: block;

}
#membre li li
{
	display: block;
	color: white;
}
#menuMembre
{
	font-size: 2em;
	background-color: #1CE0F0;
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#menuMembre ul 
{
	list-style: none;
	margin-top: 0;
}


#menuMembre li 
{
	display: inline;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-right: 1px solid #616161;
	float: left;
}


#menuMembre a 
{
	color : black;
}

#menuMembre ul li:hover
{
	background-color: #8C8C8C;
}

.actifMembre
{
	background-color: black;
}
#menuMembre ul li.actifMembre a 
{
	color: white;
}


#contenuMembre
{
	background-color: #494949;
	color : white;
	overflow: hidden;
	width: 100%;

}

#contenuMembre div
{
		padding: 20px;	

}


