html, body
{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
	background: black;

}


#cover
{
	background-size: cover;
	background-repeat: no-repeat;
	height: 470px;
	width: 100%;
	opacity : 0.5;

}

#donnees
{
	float : left;
}
#membre

{
	position: absolute;
	height : 50%;
	top : 180px ;
	left : 40%;
	font-size: 1.5em;
	font-family: 'Original Surfer', cursive;
}
#image
{
	border:  8px solid gray;
	border-radius: 300px;
    width:220px ; 
}

.bouton
{
	box-shadow: 0 0 9px #333 inset ;
	border-radius: 4px;
	border: solid 1px #555;
	font-size: 1.3em;
}

#global
{
	position: absolute;
	top : 550px;	
	width: 100%;


}

#parametres
{
	float: right;
}

#parametres li 
{
	display: inline-block;
}



#membre li 
{
	display: block;

}
#membre li li
{
	display: block;
	color: white;
}
#menudyna2
{
	font-size: 2em;
	background-color: #35BDFF;
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#menudyna2 a
{
	color : black;
}

#menudyna2 ul li:hover
{
	background-color: #2E58A7;
}

#menudyna2 ul 
{
	list-style: none;
	margin-top: 0;
}


#menudyna2 li 
{
	display: inline;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-right: 1px solid #616161;
	float: left;
}


#menudyna a 
{
	color : black;
}

#menudyna ul li:hover
{
	background-color: #1B82A9;
}

.contenumembre
{
	background-color: #3E3E3E;
	color : white;
	height: 450px;
	width: 100%;
	font-size: 0.7em;
}
.contenumembre2
{
	background-color: #3E3E3E;
	color : white;
	height: 450px;
	width: 100%;
	font-size: 0.7em;
}
.contenumembre3
{
	background-color: #3E3E3E;
	color : white;
	height: 450px;
	width: 100%;
	font-size: 0.7em;
}
.contenumembre4
{
	background-color: #3E3E3E;
	color : white;
	height: 450px;
	width: 100%;
	font-size: 0.7em;
}


