html, body
{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
}

#photoartiste
{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;

}	

#nomartiste
{
	position: absolute;
	bottom : 0; 
	height :50px;
	font-size: 3em;
	color : #BEBEBE;
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%);
	width: 100%;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 5px;
}

#menuArtiste
{
	font-size: 2em;
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(76,80,196,1) 50%,rgba(64,150,238,1) 100%);
	width : 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#menuArtiste ul 
{
	list-style: none;
	margin-top: 0;
}


#menuArtiste li 
{
	display: inline;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-right: 1px solid #616161;
	float: left;
}


#menuArtiste a 
{
	color : black;
}

#menuArtiste ul li:hover
{
	background: -webkit-linear-gradient(top, rgba(76,80,196,1) 0%,rgba(122,188,255,1) 50%,rgba(76,80,196,1) 100%);
}

.active
{
	background: -webkit-linear-gradient(top, rgba(0,127,255,1) 0%,rgba(0,6,193,1) 50%,rgba(0,127,255,1) 100%);;
}
#menuArtiste ul li.active a 
{
	color: black;
}


#contenuArtiste
{
	background-color: #494949;
	color : white;
	overflow: hidden;
	width: 100%;

}

#contenuArtiste div
{
		padding: 20px;	

}
.bouton2
{
	box-shadow: 0 0 9px #333 inset ;
	border-radius: 4px;
	border: solid 1px #555;
	font-size: 1.3em;
}

#global2
{
	position: absolute;
	top : 550px;	
	width: 100%;

}

#parametres2
{
	float: right;
}

#parametres2 li 
{
	display: inline-block;
}



a[href*="intent"] {
	display:inline-block;
	margin-top: 0.4em;
}

.rating {
	width: 226px;
	margin: 0 auto 1em;
	font-size: 45px;
	overflow:hidden;
}
.rating a {
	//float:right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
	color: orange;
	cursor: pointer;
}
.rating2 {
	direction: rtl;
}
.rating2 a {
	float:none
}